version: '3.4'

services:
  calfoscari:
    restart: always
    network_mode: host
    build: 
      context: .
      network: host
    command: ./startup.sh
    volumes:
      - /var/www/calfoscari/static:/code/serverStatic
      - /var/www/calfoscari/media:/code/media
    ports:
      - "8003:8003"