{% extends "base_generic.html" %}
{% load static %}

{% block head %}
{% endblock %}

{% block content %}
    {% url "coursesCalendars:courses" as api_courses %}

    <h4>Search Courses</h4>
    <div class="row">
        <div class="col-xl">
            <form class="" onsubmit="performSearch(event);">
                <input id="search_text" name="search" type="text" required="" autofocus="" class="form-control" placeholder="Search" style="margin-bottom: 5px;" />
                <select id="search_year" class="form-control" style="margin-bottom: 5px; max-width: max-content;">
                    <option value="">All Years</option>
                    <option value="0">No Year Defined</option>
                    <option value="1">Year 1</option>
                    <option value="2">Year 2</option>
                    <option value="3">Year 3</option>
                </select>
                <input id="search_send" type="submit" value="Search" class="btn btn-primary" />
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-xl">
            <table id="courses_table" class="align-center table table-striped" style="margin-top: 15px">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col" class="text-center">Year</th>
                    <th scope="col">Partition</th>
                    <th scope="col" class="text-center">Save Course</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>

        </div>
    </div>

<script>
'use strict';

let searchText = $('#search_text');
let searchYear = $('#search_year');
let coursesTableBody = $('#courses_table tbody');

function performSearch(e)
{
    e.preventDefault();
    let request =
    {
        url : '{{ api_courses }}?search=' + searchText.val() + '&year=' + searchYear.val(),
        dataType : 'json',
        success: function (response, state)
        {
            console.log(response);
            redrawTable(response);
        }
    };

    clearTable();
    jQuery.ajax(request);
    return false;
}

function clearTable()
{
    coursesTableBody.html('');
}

function redrawTable(results)
{
    let newHtml = '';
    for(let i in results)
    {
        newHtml += '<tr id="' + results[i].af_id + '">';
        newHtml +=     '<th scope="row">' + results[i].code + '</th>';
        newHtml +=     '<td>' + results[i].name + '</td>';
        newHtml +=     '<td class="text-center">' + results[i].year + '</td>';
        newHtml +=     '<td>' + results[i].partition + '</td>';
        newHtml +=     '<td class="text-center"><button class="btn btn-sm btn-success" type="button"><i class="far fa-bookmark"></i></button></td>';
        newHtml += '</tr>';
    }
    coursesTableBody.html(newHtml);
}
</script>


{% endblock %}
